
@{
    ViewData["Title"] = "HelloSecondLevel";
}

<h1>HelloSecondLevel</h1>
<div class="text-center">
    <h1 class="display-4">Second Level</h1>
    <p>My values from App Settings are:</p>
    <p>SecondLevelConfigValue1: @ViewBag.SecondLevelConfigValue1</p>
    <p>SecondLevelConfigValue2: @ViewBag.SecondLevelConfigValue2</p>
</div>
