@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My values from App Settings are:</p>
    <p>HeadConfigValue1: @ViewBag.HeadConfigValue1</p>
    <p>HeadConfigValue2: @ViewBag.HeadConfigValue2</p>
    <p>SecondLevelConfigValue1: @ViewBag.SecondLevelConfigValue1</p>
    <p>SecondLevelConfigValue2: @ViewBag.SecondLevelConfigValue2</p>
</div>
